html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #606060;
  box-sizing: border-box;
  overflow: hidden;
}
#root {
  width: 100%;
}
/** app is the main container class.
        * It takes up the height of the browser, and takes up 
        * 100% browser width by default (as it is a block).
        * It also sets the application background colour. 
        */
.app {
  height: 100%;
  background-color: #f2f2f5;
}

/** board is the swimlanes container. It is a flexbox column 
        * and this forces the header and swimlane container to
        * stack vertically.
        * NB - note that board has max-width set to fit-content 
        * so that .header-bar does not extend to the full browser 
        * width.
        */
.board {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 4px 0 4px;
  max-width: 100%; /* chrome */
}

/** .header-bar is the application header.
        * It floats the board title to the left and and menu buttons 
        * to the right, all done via a flexbox with 
        * justify-content: space-between.
        */
.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0;
  padding-right: 0;
}

/** container for a row of buttons that lie immediately 
        * adjacent to each other. Rounds the leftmost and rightmost
        * edges.
        */

.button-group {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
}

.button-group .btn {
  border: 1px solid #dedede;
  border-right: none;
  min-width: 60px;
  min-height: 2.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #606060;
  background-color: #ffffff;
}
.button-group .btn:hover {
  background-color: #c7dbe4;
}
.button-group .btn:focus {
  outline: 0;
}

.button-group .btn:first-child {
  border-right: none;
  border-radius: 12px 0 0 12px;
}
.button-group .btn:last-child {
  border-right: 1px solid #dedede;
  border-radius: 0 12px 12px 0;
}

.button-group .icon {
  background-repeat: no-repeat;
  background-position: 1em 45%;
  background-size: 1em;
  padding-left: 2.5em;
}
.button-group .edit {
  background-image: url("./assets/svg/md-create.svg");
}

.button-group .reports {
  background-image: url("./assets/svg/md-trending-up.svg");
}

.header-bar .button-group {
  margin-top: auto;
  margin-bottom: auto;
}

/** swimlanes is the class for the container that  contains 
        * the individual swimlane columns. This container has the 
        * vertical scrollbar via overflow: auto.
        * swimlane-container is the individual board columns.
        * They are a simple flexbox column with minimum width of 
        * 300px. The hover effect (where the columns appear to 
        * get a little larger on rollover) is done by setting
        * the border transparent on rollover.
        */
.swimlanes {
  display: flex;
  height: 100%;
  flex-direction: row; /* default */
  flex-wrap: nowrap;
  overflow: auto;
  padding: 0;
  margin: 0;
  scrollbar-width: thin; /* for Firefox */
}
.swimlane-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  border: 2px solid #dedede;
  border-radius: 10px;
  margin: 5px 10px 5px 10px;
  background-color: #fdfcff;
  transition: all 0.3s;
  overflow: hidden;
  padding-top: 2px;
}
.swimlane-container:first-child {
  margin-left: 0;
}
.swimlane-container:last-child {
  margin-right: 0;
}
.swimlane-container:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-color: transparent;
  padding-top: 0;
}

.swimlane-head {
  height: 48px;
  flex-shrink: 0;
  position: relative;
  line-height: 48px;
  border-bottom: 1px solid #e9e9e9;
  vertical-align: middle;
  overflow: hidden;
  padding: 0 24px;
}
.swimlane-body {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  overflow-x: hidden;
  overflow-y: auto;
  flex-basis: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.story-card {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
  background-color: #fffff5;
  padding: 10px 10px 10px 10px;
  margin: 0 0 10px 0;
  overflow: hidden;
  border: 1px solid #d5d5cf;
  border-left: 8px solid #60cc60;
  border-radius: 0px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s;
}

/** scrollbar styling.
        * Note this only works for Chrome. For other browsers, we 
        * can only use scrollbar-width: thin (see .swimlanes). 
        */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #aaa;
}

.ellipses-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
